<div class="container">
  <div class="container">
    <div class="col-md-12">
      <div class="text-left">
        <h1><%= @user.username %></h1>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              Chat
            </div>
            <div class="panel-body">
              <ul id="chat">
                <%= render @room.messages.all %>
              </ul>
              <div class="panel-footer">
                  <%= form_for [@user, @room, @room.messages.build], remote: true do |f| %>
                    <div class="input-group">
                      <%= f.text_field :body, class: "form-control" %>
                      <span class="input-group-btn">
                        <%= f.submit "Send", class: "btn btn-default" %>
                      </span>
                    </div>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="component component-video embed-responsive embed-responsive-16by9">
          <%= VideoInfo.new(@room.video_url).embed_code.html_safe %>
        </div>
        <br/>
        <% if @room.user == current_user %>
          <%= button_to "Delete room", user_room_path, method: :delete,
                                                       class: "btn btn-danger",
                                                       id: "delete_btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= subscribe_to "/messages/new" %>
